/*
!Fonts
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@200;400;600;700&display=swap');

/*
* Helper and Reset scss
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: 'Source Sans 3', sans-serif;
}

img {
  max-width: 100%;
}

.container {
  padding-left: 65px;
  padding-right: 65px;
}

/*
* Variables
*/

$primary-color: #1d809f;
$dark-color: #212529;
$white-color: #fff;

/*
* Mixins
*/
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
* Btn
*/

.btn {
  padding: 18px 24px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-primary {
  @extend .btn;
  background-color: $primary-color;
  color: $white-color;
  display: inline-block;
}

/*
* Header Start
*/

#header {
  height: 100vh;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @include flex-center;
  text-align: center;

  h1 {
    font-size: 5.5rem;
  }

  h3 {
    margin-bottom: 2rem;
    em {
      font-size: 1.75rem;
    }
  }
}

/*
* Header End
*/

/*
* Offer Title Start
*/
.offer-title {
  padding-top: 7.5rem;
  padding-bottom: 7.5rem;
  text-align: center;
  h2 {
    font-size: 32px;
    padding-bottom: 10px;
  }

  p {
    margin-bottom: 2.4rem;
    font-size: 20px;
  }

  .btn-black {
    @extend .btn;
    background-color: $dark-color;
    color: $white-color;
    display: inline-block;
  }
}
/*
* Offer Title End
*/

/*
* Services Start
*/

#services {
  background-color: $primary-color;
  padding: 7rem 0;
}

.section-title {
  text-align: center;
  padding-bottom: 2rem;
  h3 {
    font-size: 16px;
    color: #ecb807;
  }

  h2 {
    font-size: 48px;
    color: #fff;
  }
}

.row {
  display: flex;
  justify-content: space-around;
}

.icon {
  background-color: #fff;
  color: $primary-color;
  height: 7rem;
  width: 7rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  i {
    font-size: 1.8rem;
  }
}

.card {
  text-align: center;
  color: #fff;
  h4 {
    font-size: 24px;
    padding: 6px 0;
  }
}

/*
* Services End
*/

/*
* Callout Start
*/

#callout {
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  @include flex-center;

  h2 {
    font-size: 3.5rem;
    font-weight: 700;
    display: block;
    max-width: 30rem;
  }
}

/*
* Callout End
*/

/*
* Portfolio Start
*/

#portfolio {
  padding: 5rem 0;

  .img {
    background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/portfolio-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
  }
  h2 {
    color: #000;
  }
  .box {
    position: relative;
    color: #fff;
    .item-content {
      position: absolute;
      bottom: 35px;
      left: 30px;
    }
  }
  .grid {
    display: grid;
    grid-template-areas:
      'staniory ice'
      'strawberries workspace';
  }

  .grid-item-staniory {
    grid-area: staniory;
  }
}

.grid-item-ice {
  grid-area: ice;
}

.grid-item-strawberries {
  grid-area: strawberries;
}

.grid-item-workspace {
  grid-area: workspace;
}

/*
* Portfolio End
*/

/*
* Call Action Start
*/

#call-action {
  padding: 7rem 0;
  background-color: $primary-color;
  text-align: center;
  h2 {
    margin-bottom: 1.8rem;
    color: #fff;
    font-size: 2rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .btn-white {
    @extend .btn;
    background-color: $white-color;
    padding: 15px 20px;
    color: #000;
  }

  .btn-dark {
    @extend .btn;
    background-color: $dark-color;
    padding: 15px 20px;
    color: #fff;
  }
}

/*
* Call Action End
*/
#map {
  iframe {
    width: 100%;
  }
}

// Footer Start

#footer {
  padding-top: 5rem;
  padding-bottom: 5rem;
  .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    a {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: #fff;
      background-color: $primary-color;
      padding: 20px;
      border-radius: 50%;
      font-size: 25px;
    }
  }

  .copyright {
    text-align: center;
    color: #000;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  #services {
    .row {
      display: flex;
      flex-direction: column;
      gap: 25px;
    }
  }

  #portfolio {
    .grid {
      display: grid;
      grid-template-areas:
        'staniory'
        'ice'
        'strawberries'
        'workspace';
    }
  }
}
